* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/
body {background: #1b1b1b;
font-family:Source Code Pro;}
canvas {display: block;}
#container {

  display: none;
  text-align: center;
  margin:0;
  height: 100%;
  width: 100%;
  animation-name:trans ;
  animation-delay:10s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}
.logo
{
	height: 15%;
	position: absolute;
	left: 10%;
	top: 12.5%;
	z-index: 1;
}
.navbar
{
	border-radius: 1%;
	height: 20%;
	width: 90%;
	position: absolute;
	left:5%;
	top: 10%;
	right: 10%;
	background-color:#343434;
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    left:35%;
    top: 30%;
}
li
{
	display: inline;
	font-family: Kodchasan;
	font-size: 40px;
	padding-right: 50px; 
}
li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}